<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring MVC CRUD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th><span th:text="#{label.book.id}"></span></th>
            <th><span th:text="#{label.book.iban}"></span></th>
            <th><span th:text="#{label.book.author}"></span></th>
            <th><span th:text="#{label.book.title}"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:unless="${book == null}" th:each="book : ${books}">
            <td><span th:text="${book.value.id}"></span></td>
            <td><span th:text="${book.value.iban}"></span></td>
            <td><span th:text="${book.value.author}"></span></td>
            <td><span th:text="${book.value.title}"></span></td>
            <td>
                <form th:action="@{edit}" method="post">
                    <button th:type="submit" class="btn btn-success" th:name="id" th:value="${book.value.id}">Edit
                    </button>
                </form>
            </td>
            <td>
                <form th:action="@{delete}" method="post">
                    <button th:type="submit" class="btn btn-success" th:name="id" th:value="${book.value.id}">Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>